# this has been replaced with light-locker
# linkto-ignore[laptop]: ~/.config/systemd/user/lockonsuspend.service

[Unit]
Description=Lock X session
Before=suspend.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/bin/dm-tool lock

[Install]
WantedBy=suspend.target
